.nav {
  background: #24292e;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  text-align: center;
  padding: 5px 0;
}

.tool-box {
  list-style-type: none;
  padding: 0;
  display: inline;
}

.tool-box > li {
  display: inline;
  padding: 20px 10px;
}

.vs-code-icon {
  /* padding: 0px 5px 0 15px; */
  /* padding-top: 10px; */
  position: relative;
  top: 3px;
  width: 18px;
}

.header-text {
  position: relative;
  right: 150px;
}

.yellow-button {
  background: yellow;
}

.green-button {
  background: green;
}

.red-button {
  background: red;
}

.control-buttons {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
}

.control-buttons > a {
  flex-basis: 16px;
  margin: 3px 4px;
  border-radius: 50%;
}
