.footer {
  height: 3.5%;
  background: #0f8bd3;
  display: flex;
  justify-content: space-between;
}

.left a {
  color: white;
  text-decoration: none;
}

.left a:hover {
  background: #43a6e0;
}

.left {
  width: 10rem;
  display: flex;
  justify-content: space-around;
}

.left > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left > div > * {
  padding: 0 0.125rem;
}

.right {
  width: 18rem;
  display: flex;
  justify-content: space-around;
}

.right > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right > div > * {
  padding: 0 0.125rem;
}
